html, body {
            font-family: 'Montserrat', sans-serif;
            background: #E5E5E5;
            color: rgba(0, 0, 0, 0.87);
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

         div {
            width: 200px;
            height: 200px;
            padding: 30px;
            margin: 50px;
            border: 10px red solid;
            background: antiquewhite;
        }

        p {
            font-size: 18px;
            line-height: 28px;
        }

        section {
            margin-bottom: 85px;
        }